<mat-toolbar class="toolbar">
  <span>Hírek</span>
  <span class="flex-spacer"></span>
  <button *ngIf="!user" (click)="signInWithGoogle()" type="button" class="google-sign-in-button" >
    Google bejelentkezés
  </button>
  <img *ngIf="user" class="ms-1 me-1 mb-0" [src]="user.pictureURL" alt="pictureURL" referrerpolicy="no-referrer" height="35px" style="border-radius: 50%">
  <p *ngIf="user" class="m-0" style="font-size: small; cursor: pointer" routerLink="./user">{{user.username}}</p>
  <button *ngIf="!isDarkMode" mat-icon-button (click)="setDarkMode()">
    <mat-icon>dark_mode</mat-icon>
  </button>
  <button *ngIf="isDarkMode" mat-icon-button (click)="setLightMode()">
    <mat-icon>light_mode</mat-icon>
  </button>
  <button *ngIf="user" mat-icon-button (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
