<div class="container">
  <div class="editor m-3">
    <form #createNewsFeedPostForm="ngForm" (ngSubmit)="onSubmitCreateNewsFeedPost(createNewsFeedPostForm)"
      autocomplete="off">
      <div class="row p-1">
        <div class="input-group">
          <div class="input-group-text">Cím</div>
          <input type="text" id="title" class="form-control" name="title" ngModel required />
        </div>
      </div>
      <div class="row p-1">
        <div class="input-group">
          <div class="input-group-text">Kép</div>
          <input type="file" id="image" class="form-control" name="image" ngModel
            required />
        </div>
      </div>
      <quill-editor [(ngModel)]="editorContent" [ngModelOptions]="{standalone: true}" class="p-1"
        style="width: 100%;"></quill-editor>
      <textarea id="content" class="form-control" name="content" [(ngModel)]="editorContent" required [hidden]="true"></textarea>
      <button [disabled]="!createNewsFeedPostForm.valid" type="submit" class="btn btn-outline-danger mt-1">
        Létrehozás</button>
    </form>
  </div>

  <div class="preview ql-editor" *ngIf="editorContent">
    <h3>Előnézet:</h3>
    <div [innerHTML]="sanitizeContent(editorContent)"></div>
  </div>
</div>
