.editor{
  text-align: center;
}

.preview{
  background-color: var(--post-background-color);
}

.postIMG-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

.postIMG {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.postTitle {
  position: absolute;
  bottom: 0;
  background-color: var(--post-title);
  opacity: 0.8;
  padding: 5px 10px;
  z-index: 1;
  width: 100%;
}
