<a *ngIf="currentUser" class="btn btn-danger m-2" [routerLink]="'/add'">Új hír hozzáadása</a>

<div *ngIf="newsFeedPosts && newsFeedPosts.length == 0 || !newsFeedPosts">
  Nem található poszt! 😢
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-2" *ngFor="let newsFeedPost of newsFeedPosts">
      <app-news-feed-post [newsFeedPost]="newsFeedPost"></app-news-feed-post>
    </div>
  </div>
  <app-news-paginator [numOfAllPosts]="numOfAllPosts"></app-news-paginator>
</div>
