.paginator{
  display: flex;
  align-items: center;
  justify-content: center;
}

.limitSelect{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
}

.limitSelect option {
  color: black;
}

mat-icon{
  cursor: pointer;
}
