.userDetails{
  background-color: var(--post-background-color);
  text-align: center;
}

.postIMG{
  object-fit: cover;
  object-position:center;
  height: 150px;
}

.post{
  background-color: var(--post-title);
  border-radius: 5px;
  cursor: pointer;
}

.post:hover{
  background-color: rgb(138, 138, 138);
}
